@media (max-width: 480px) {
    .attribution{
        display: flex;
        flex-direction: column;
        line-height: 2rem;
    }
}

@media (max-width: 380px) {
    .card{
        width: 90%;
    }
    .attribution{
        padding-top: 7rem;
    }
}