*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}



#content {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--dark-cyan); 

    overflow: hidden;
}

.bg-top{
    position: relative;
    bottom: 38rem;
    left: -2.5rem;
}

.bg-bottom{
    position: relative;
    top: 50.2rem;
    right: 2.5rem;
}

.card{
    position: absolute;

    width: 35rem;
    height: 37.5rem;

    background: #FFF;
    border-radius: 1.5rem;

    box-shadow: 2px 40px 60px 29px rgb(0 0 0 / 11%);
}

.card h2,
.card h3{
    font-size: 1.8rem;

    color: var(--very-dark-desaturated-blue);
}

.card .block-top{
    background: url("../images/bg-pattern-card.svg") no-repeat center;
    height: 14rem;

    border-radius: 1.5rem 1.5rem 0 0;
}

.card .block-center{
    display: flex;
    justify-content: center;
}

.card .block-center img{
    border-radius: 50%;

    margin-top: -5.3rem;

    border: .5rem solid #FFF;
}

.card .block-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 9.1rem;
}

.card .block-bottom .age,
.card .block-bottom .city{
    color: var(--dark-gray);
    font-weight: 400;
}

.card .block-bottom .city{
    padding-top: 1.2rem;
    font-size: 1.4rem;
}

.card footer{
    border-top: 0.2rem solid #F0F0F0;

    height: 9.5rem;

    padding-right: .7rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.card footer .tier-2{
    padding-left: .2rem;
    padding-right: 1rem;
}

.card footer h2{
    text-transform: uppercase;
}

.card footer p{
    padding-top: .8rem;
    letter-spacing: .2rem;

    color: var(--dark-gray);

    font-size: .9rem;
}

.attribution { 
    font-size: 1.5rem; 
    font-weight: 700;

    text-align: center; 
    margin-top: -14rem;

    color: #000;

    position: relative;
}
.attribution a { 
    color: var(--very-dark-desaturated-blue);
    text-decoration: none; 
}

